$main: #a4ffaf;
$white: #d9d8e0;
$text: #73717e;
$base: rgb(34, 34, 41);
$bg: rgba(16, 15, 21);
$black: rgb(24, 22, 29);
$password: #525159;

* {
  font-family: "JetBrains Mono";
  font-weight: 600;
}

body {
  background-color: $bg;
}

.pg-app {
  margin-top: 100px;

  h1 {
    color: $text;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    input[type="text"] {
      background-color: $base;
      border: none;
      color: #5b5964;
      font-size: 22px;
      display: block;
      outline: none;
      padding: 16px 22px;
      width: 400px;
    }
  }
}

.input-wrapper {
  background-color: blue;
  position: relative;

  .icon-wrapper {
    align-items: center;
    display: flex;
    color: $main;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 1;

    .icon {
      cursor: pointer;
      font-size: 20px;

      &:hover {
        color: $white;
      }
    }
  }
}

.settings-wrapper {
  background-color: $base;
  padding: 12px 22px;
  width: 400px;

  .row-space-between {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  p {
    color: $white;
    display: block;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .count {
    color: $main;
    font-size: 26px;

    &:hover {
      color: $white;
    }
  }
}

.character-length {
  margin-bottom: 30px;

  input[type="range"] {
    position: relative;
    background-color: $black;
    height: 10px;
    margin: 0;
    padding: 0;
    color: blue;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $white;
    border: none;
    border-radius: 50%;
    height: 23px;
    width: 23px;
  }
}

.slider-length {
  position: relative;
  background-color: $black;
  margin-bottom: 30px;
  height: 8px;
  width: 100%;

  .circle {
    background-color: $white;
    border-radius: 50%;
    height: 18px;
    position: absolute;
    top: -4px;
    width: 18px;

    &:hover {
      cursor: pointer;
    }
  }
}

.checkbox-wrapper {
  font-size: 22px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark {
    background-color: transparent;
    border: 2px solid $white;
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    z-index: 1;
  }

  .checkbox {
    left: 0;
    top: 0;
  }

  input:checked ~ .checkmark {
    background-color: $main;

    &:after {
      display: block;
    }
  }

  .checkmark:after {
    border: solid $black;
    border-width: 0 4px 4px 0;
    content: "";
    display: none;
    left: 3px;
    top: -1px;
    position: absolute;
    transform: rotate(45deg);
    height: 10px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}

.strength-wrapper {
  background-color: $black;
  color: $text;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding: 22px 30px;

  .indicators {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 8px);

    .indicator-box {
      border: 2px solid $white;
      height: 100%;
      width: 5px;
    }
  }
}

.btn {
  border: 0;
}

.btn-primary {
  align-items: center;
  background-color: $main;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;

  &:hover {
    background-color: $white;
  }

  svg {
    font-size: 14px;
    margin-left: 20px;
  }
}
